In [32]:
import pandas as pd
import numpy as np
from datetime import timedelta
import matplotlib.pyplot as plt
import requests
import seaborn as sns
import json
import os
import datetime as dt
import re


from geopy import distance
from pandas.api.types import CategoricalDtype

In [33]:
pd.read_csv("data/recorridos-realizados-2011.csv").head(3)

,periodo,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,2011,2011-09-29 19:40:00,9.0,Parque Las Heras,-58.407145,-34.583915,Parque Las Heras,10.0,29/09/2011 19:49,14.0,Pacífico,-58.426320,-34.577787,Pacífico
1,2011,2011-09-29 19:37:00,2.0,Retiro,-58.374822,-34.592589,Av. Dr.Jose Ramos Mejia y Del Libertador Av,20.0,29/09/2011 19:57,5.0,Plaza Italia,-58.420997,-34.580127,Av. Santa Fe y Av. Sarmiento
2,2011,2011-09-29 19:36:00,12.0,Plaza Vicente López,-58.388949,-34.593177,Plaza Vicente López,5.0,29/09/2011 19:41,1.0,Facultad de Derecho,-58.392452,-34.583133,Av. Pres.Figueroa Alcorta y Juan A.Bibiloni

In [34]:
pd.read_csv("data/recorridos-realizados-2012.csv").head(3)

,periodo,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,lat_estacion_origen,long_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,lat_estacion_destino,long_estacion_destino,domicilio_estacion_destino
0,2012,2012-01-02 07:42:15.2,19.0,Plaza San Martín,-34.595405,-58.377549,Plaza San Martín,29.0,2012-01-02 08:10:46.89,12.0,Plaza Vicente López,-34.593177,-58.388949,Plaza Vicente López
1,2012,2012-01-02 07:58:00.983,13.0,Once,-34.609622,-58.406599,Plaza Miserere,19.0,2012-01-02 08:16:31.84,183.0,Virrey Cevallos,-34.615638,-58.389692,México 1652 entre Virrey Cevallos y Solís
2,2012,2012-01-02 07:59:55.59,9.0,Parque Las Heras,-34.583915,-58.407145,Parque Las Heras,26.0,2012-01-02 08:25:56.7,4.0,Plaza Roma,-34.601721,-58.368950,Lavalle y Bouchard

In [35]:
pd.read_csv("data/recorridos-realizados-2013.csv").head(3)

,periodo,id_usuario,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,2013,36680,2013-01-02 07:49:52.937,13.0,Once,-58.406599,-34.609622,Plaza Miserere,0 days 00:21:43.733000000,2013-01-02 08:11:36.670,21.0,Parque Patricios,-58.406613,-34.640029,Iguazú y Uspallata
1,2013,68894,2013-01-02 07:52:11.530,13.0,Once,-58.406599,-34.609622,Plaza Miserere,0 days 00:30:49.593000000,2013-01-02 08:23:01.123,4.0,Plaza Roma,-58.368950,-34.601721,Lavalle y Bouchard
2,2013,69014,2013-01-02 07:53:56.140,17.0,Plaza Almagro,-58.418832,-34.606399,Plaza Almagro,0 days 00:31:08.157000000,2013-01-02 08:25:04.297,12.0,Plaza Vicente López,-58.388949,-34.593177,Plaza Vicente López

In [36]:
pd.read_csv("data/recorridos-realizados-2014.csv").head(3)

,id_usuario,origen_recorrido_fecha,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,tipo_estacion_origen,observaciones_estacion_origen,horario_estacion_origen,duracion_recorrido,destino_recorrido_fecha,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino,tipo_estacion_destino,observaciones_estacion_destino,horario_estacion_destino
0,36680,2014-01-02 08:03:44.437,13.0,Once,-58.406599,-34.609622,Plaza Miserere,AUTOMÁTICA,Abril 2015 (pasó de ser Manual a Automática),Estación automática: disponibilidad las 24 horas,0 days 00:17:06.466000000,2014-01-02 08:20:50.903,23.0,Suipacha,-58.379566,-34.600296,Suipacha y Viamonte,AUTOMÁTICA,Abril 2015 (pasó de ser Manual a Automática),Estación automática: disponibilidad las 24 horas
1,36680,2014-01-02 08:33:59.873,23.0,Suipacha,-58.379566,-34.600296,Suipacha y Viamonte,AUTOMÁTICA,Abril 2015 (pasó de ser Manual a Automática),Estación automática: disponibilidad las 24 horas,0 days 00:11:24.110000000,2014-01-02 08:45:23.983,24.0,Alsina,-58.380767,-34.610572,Adolfo Alsina y Bernardo de Irigoyen,AUTOMÁTICA,Abril 2015 (pasó de ser Manual a Automática),Estación automática: disponibilidad las 24 horas
2,91345,2014-01-02 08:43:09.263,8.0,Congreso,-58.389253,-34.609930,Av. Hipólito Yrigoyen y Virrey Ceballos,AUTOMÁTICA,Abril 2015 (pasó de ser Manual a Automática),Estación automática: disponibilidad las 24 horas,0 days 00:47:02.780000000,2014-01-02 09:30:12.043,8.0,Congreso,-58.389253,-34.609930,Av. Hipólito Yrigoyen y Virrey Ceballos,AUTOMÁTICA,Abril 2015 (pasó de ser Manual a Automática),Estación automática: disponibilidad las 24 horas

In [37]:
pd.read_csv("data/recorridos-realizados-2015.csv").head(3)

,periodo,genero_usuario,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,2015,M,2015-05-01 00:00:18,25,Plaza Güemes,-58.416065,-34.589521,Salguero Jerónimo y Mansilla,0 days 00:26:24.000000000,2015-05-01 00:26:42,29,Parque Centenario,-58.434577,-34.608459,Patricias Argentinas y Carlos Finlay
1,2015,F,2015-05-01 00:02:06,17,Plaza Almagro,-58.418832,-34.606399,Plaza Almagro,0 days 00:57:53.000000000,2015-05-01 00:59:59,25,Plaza Güemes,-58.416065,-34.589521,Salguero Jerónimo y Mansilla
2,2015,M,2015-05-01 00:02:53,17,Plaza Almagro,-58.418832,-34.606399,Plaza Almagro,0 days 01:03:08.000000000,2015-05-01 01:06:01,25,Plaza Güemes,-58.416065,-34.589521,Salguero Jerónimo y Mansilla

In [38]:
pd.read_csv("data/recorridos-realizados-2016.csv").head(3)

,periodo,genero_usuario,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,2016,M,2016-01-01 02:21:41,11,Tribunales,-58.385022,-34.601313,Tribunales,0 days 00:16:29.000000000,2016-01-01 02:48:05,5,Plaza Italia,-58.420997,-34.580127,Av. Santa Fe y Av. Sarmiento
1,2016,M,2016-01-01 08:38:19,28,Plaza Boedo,-58.412398,-34.622850,Carlos Calvo entre Virrey Liniers y Sánchez de...,0 days 00:55:26.000000000,2016-01-01 09:36:12,28,Plaza Boedo,-58.412398,-34.622850,Carlos Calvo entre Virrey Liniers y Sánchez de...
2,2016,M,2016-01-01 15:01:07,28,Plaza Boedo,-58.412398,-34.622850,Carlos Calvo entre Virrey Liniers y Sánchez de...,0 days 00:40:27.000000000,2016-01-01 16:04:15,30,Peña,-58.397378,-34.590394,Azcuénaga y Peña

In [39]:
pd.read_csv("data/recorridos-realizados-2017.csv").head(3)

,periodo,genero_usuario,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,2017,M,2017-01-01 00:02:14,60.0,25 de Mayo,-58.371155,-34.601638,25 de Mayo y Lavalle,0 days 00:27:44.000000000,2017-01-01 00:28:38,4.0,Plaza Roma,-58.368950,-34.601721,Lavalle y Bouchard
1,2017,M,2017-01-01 00:02:59,79.0,Azucena Villaflor,-58.363969,-34.611721,Azucena Villaflor y Pierina Dealessi,0 days 01:57:21.000000000,2017-01-01 01:00:52,54.0,Acuña de Figueroa,-58.421705,-34.598222,Lavalle y Acuña de Figueroa
2,2017,M,2017-01-01 00:07:13,11.0,Tribunales,-58.385022,-34.601313,Tribunales,0 days 00:25:08.000000000,2017-01-01 01:10:21,84.0,Lavalle,-58.395472,-34.602290,Ayacucho 595 entre Tucumán y Lavalle

In [40]:
pd.read_csv("data/recorridos-realizados-2018.csv").head(3)

,id_usuario,genero_usuario,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,5453,M,2018-01-01 00:08:05,45.0,Uruguay,-58.386913,-34.601616,Tucumán y Uruguay,0 days 00:19:53.000000000,2018-01-01 00:27:58,183.0,Virrey Cevallos,-58.389692,-34.615638,México 1652 entre Virrey Cevallos y Solís
1,673,M,2018-01-01 00:18:05,189.0,Posadas,-58.385586,-34.588475,Posadas 1350 entre Montevideo y Rodríguez Peña,0 days 00:26:19.000000000,2018-01-01 00:44:24,110.0,Guardia Vieja,-58.415459,-34.601761,Guardia Vieja 3606 entre Billinghurst y Mario ...
2,179119,F,2018-01-01 00:20:14,50.0,Hospital Rivadavia,-58.401148,-34.583677,Lucena Pereyra 2516 entre Las Heras y Pagano,0 days 00:27:39.000000000,2018-01-01 00:47:53,31.0,Padilla,-58.439709,-34.603162,Padilla y Warnes Av

### Le sacamos el Id al de 2013

In [41]:
df_2013 = pd.read_csv("data/recorridos-realizados-2013.csv")

### Agregamos columna período al CSV de 2014

In [42]:
df_2014 = pd.read_csv("data/recorridos-realizados-2014.csv")

In [43]:
df_2014['periodo'] = 2014

In [44]:
df_2014.columns

Index(['id_usuario', 'origen_recorrido_fecha', 'id_estacion_origen',
       'nombre_estacion_origen', 'long_estacion_origen', 'lat_estacion_origen',
       'domicilio_estacion_origen', 'tipo_estacion_origen',
       'observaciones_estacion_origen', 'horario_estacion_origen',
       'duracion_recorrido', 'destino_recorrido_fecha', 'id_estacion_destino',
       'nombre_estacion_destino', 'long_estacion_destino',
       'lat_estacion_destino', 'domicilio_estacion_destino',
       'tipo_estacion_destino', 'observaciones_estacion_destino',
       'horario_estacion_destino', 'periodo'],
      dtype='object')

In [45]:
df_2014 = df_2014[['periodo', 'origen_recorrido_fecha', 'id_estacion_origen',
       'nombre_estacion_origen', 'long_estacion_origen', 'lat_estacion_origen',
       'domicilio_estacion_origen', 'duracion_recorrido',
       'destino_recorrido_fecha', 'id_estacion_destino',
       'nombre_estacion_destino', 'long_estacion_destino',
       'lat_estacion_destino', 'domicilio_estacion_destino']]

In [46]:
df_2014 = df_2014.rename(columns={"origen_recorrido_fecha": "fecha_origen_recorrido", "destino_recorrido_fecha": "fecha_destino_recorrido"}, errors="raise")

In [47]:
df_2014.columns

Index(['periodo', 'fecha_origen_recorrido', 'id_estacion_origen',
       'nombre_estacion_origen', 'long_estacion_origen', 'lat_estacion_origen',
       'domicilio_estacion_origen', 'duracion_recorrido',
       'fecha_destino_recorrido', 'id_estacion_destino',
       'nombre_estacion_destino', 'long_estacion_destino',
       'lat_estacion_destino', 'domicilio_estacion_destino'],
      dtype='object')

In [48]:
df_2014.head(3)

,periodo,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,2014,2014-01-02 08:03:44.437,13.0,Once,-58.406599,-34.609622,Plaza Miserere,0 days 00:17:06.466000000,2014-01-02 08:20:50.903,23.0,Suipacha,-58.379566,-34.600296,Suipacha y Viamonte
1,2014,2014-01-02 08:33:59.873,23.0,Suipacha,-58.379566,-34.600296,Suipacha y Viamonte,0 days 00:11:24.110000000,2014-01-02 08:45:23.983,24.0,Alsina,-58.380767,-34.610572,Adolfo Alsina y Bernardo de Irigoyen
2,2014,2014-01-02 08:43:09.263,8.0,Congreso,-58.389253,-34.609930,Av. Hipólito Yrigoyen y Virrey Ceballos,0 days 00:47:02.780000000,2014-01-02 09:30:12.043,8.0,Congreso,-58.389253,-34.609930,Av. Hipólito Yrigoyen y Virrey Ceballos

### Sacamos columna de genero

In [49]:
df_2015 = pd.read_csv("data/recorridos-realizados-2015.csv")

df_2015 = df_2015[['periodo', 'fecha_origen_recorrido', 'id_estacion_origen',
       'nombre_estacion_origen', 'long_estacion_origen', 'lat_estacion_origen',
       'domicilio_estacion_origen', 'duracion_recorrido',
       'fecha_destino_recorrido', 'id_estacion_destino',
       'nombre_estacion_destino', 'long_estacion_destino',
       'lat_estacion_destino', 'domicilio_estacion_destino']]

In [50]:
df_2016 = pd.read_csv("data/recorridos-realizados-2016.csv")


df_2016 = df_2016[['periodo', 'fecha_origen_recorrido', 'id_estacion_origen',
       'nombre_estacion_origen', 'long_estacion_origen', 'lat_estacion_origen',
       'domicilio_estacion_origen', 'duracion_recorrido',
       'fecha_destino_recorrido', 'id_estacion_destino',
       'nombre_estacion_destino', 'long_estacion_destino',
       'lat_estacion_destino', 'domicilio_estacion_destino']]

In [51]:
df_2017 = pd.read_csv("data/recorridos-realizados-2017.csv")

df_2017 = df_2017[['periodo', 'fecha_origen_recorrido', 'id_estacion_origen',
       'nombre_estacion_origen', 'long_estacion_origen', 'lat_estacion_origen',
       'domicilio_estacion_origen', 'duracion_recorrido',
       'fecha_destino_recorrido', 'id_estacion_destino',
       'nombre_estacion_destino', 'long_estacion_destino',
       'lat_estacion_destino', 'domicilio_estacion_destino']]

### Agregamos columna periodo CSV de 2018 y lo retocamos

In [52]:
df_2018 = pd.read_csv("data/recorridos-realizados-2018.csv")

In [53]:
df_2018['periodo'] = 2018

df_2018 = df_2018[['periodo', 'fecha_origen_recorrido', 'id_estacion_origen',
       'nombre_estacion_origen', 'long_estacion_origen', 'lat_estacion_origen',
       'domicilio_estacion_origen', 'duracion_recorrido',
       'fecha_destino_recorrido', 'id_estacion_destino',
       'nombre_estacion_destino', 'long_estacion_destino',
       'lat_estacion_destino', 'domicilio_estacion_destino']]

In [54]:
df_2018.head(3)

,periodo,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,2018,2018-01-01 00:08:05,45.0,Uruguay,-58.386913,-34.601616,Tucumán y Uruguay,0 days 00:19:53.000000000,2018-01-01 00:27:58,183.0,Virrey Cevallos,-58.389692,-34.615638,México 1652 entre Virrey Cevallos y Solís
1,2018,2018-01-01 00:18:05,189.0,Posadas,-58.385586,-34.588475,Posadas 1350 entre Montevideo y Rodríguez Peña,0 days 00:26:19.000000000,2018-01-01 00:44:24,110.0,Guardia Vieja,-58.415459,-34.601761,Guardia Vieja 3606 entre Billinghurst y Mario ...
2,2018,2018-01-01 00:20:14,50.0,Hospital Rivadavia,-58.401148,-34.583677,Lucena Pereyra 2516 entre Las Heras y Pagano,0 days 00:27:39.000000000,2018-01-01 00:47:53,31.0,Padilla,-58.439709,-34.603162,Padilla y Warnes Av

### Les hacemos un concat

In [55]:
df_2013= pd.read_csv("data/recorridos-realizados-2013.csv")

In [56]:
df_2014.head(3)

,periodo,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,2014,2014-01-02 08:03:44.437,13.0,Once,-58.406599,-34.609622,Plaza Miserere,0 days 00:17:06.466000000,2014-01-02 08:20:50.903,23.0,Suipacha,-58.379566,-34.600296,Suipacha y Viamonte
1,2014,2014-01-02 08:33:59.873,23.0,Suipacha,-58.379566,-34.600296,Suipacha y Viamonte,0 days 00:11:24.110000000,2014-01-02 08:45:23.983,24.0,Alsina,-58.380767,-34.610572,Adolfo Alsina y Bernardo de Irigoyen
2,2014,2014-01-02 08:43:09.263,8.0,Congreso,-58.389253,-34.609930,Av. Hipólito Yrigoyen y Virrey Ceballos,0 days 00:47:02.780000000,2014-01-02 09:30:12.043,8.0,Congreso,-58.389253,-34.609930,Av. Hipólito Yrigoyen y Virrey Ceballos

In [57]:
df_2015.head(3)

,periodo,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,2015,2015-05-01 00:00:18,25,Plaza Güemes,-58.416065,-34.589521,Salguero Jerónimo y Mansilla,0 days 00:26:24.000000000,2015-05-01 00:26:42,29,Parque Centenario,-58.434577,-34.608459,Patricias Argentinas y Carlos Finlay
1,2015,2015-05-01 00:02:06,17,Plaza Almagro,-58.418832,-34.606399,Plaza Almagro,0 days 00:57:53.000000000,2015-05-01 00:59:59,25,Plaza Güemes,-58.416065,-34.589521,Salguero Jerónimo y Mansilla
2,2015,2015-05-01 00:02:53,17,Plaza Almagro,-58.418832,-34.606399,Plaza Almagro,0 days 01:03:08.000000000,2015-05-01 01:06:01,25,Plaza Güemes,-58.416065,-34.589521,Salguero Jerónimo y Mansilla

In [58]:
df_2016.head(3)

,periodo,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,2016,2016-01-01 02:21:41,11,Tribunales,-58.385022,-34.601313,Tribunales,0 days 00:16:29.000000000,2016-01-01 02:48:05,5,Plaza Italia,-58.420997,-34.580127,Av. Santa Fe y Av. Sarmiento
1,2016,2016-01-01 08:38:19,28,Plaza Boedo,-58.412398,-34.622850,Carlos Calvo entre Virrey Liniers y Sánchez de...,0 days 00:55:26.000000000,2016-01-01 09:36:12,28,Plaza Boedo,-58.412398,-34.622850,Carlos Calvo entre Virrey Liniers y Sánchez de...
2,2016,2016-01-01 15:01:07,28,Plaza Boedo,-58.412398,-34.622850,Carlos Calvo entre Virrey Liniers y Sánchez de...,0 days 00:40:27.000000000,2016-01-01 16:04:15,30,Peña,-58.397378,-34.590394,Azcuénaga y Peña

In [59]:
df_2017.head(3)

,periodo,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,2017,2017-01-01 00:02:14,60.0,25 de Mayo,-58.371155,-34.601638,25 de Mayo y Lavalle,0 days 00:27:44.000000000,2017-01-01 00:28:38,4.0,Plaza Roma,-58.368950,-34.601721,Lavalle y Bouchard
1,2017,2017-01-01 00:02:59,79.0,Azucena Villaflor,-58.363969,-34.611721,Azucena Villaflor y Pierina Dealessi,0 days 01:57:21.000000000,2017-01-01 01:00:52,54.0,Acuña de Figueroa,-58.421705,-34.598222,Lavalle y Acuña de Figueroa
2,2017,2017-01-01 00:07:13,11.0,Tribunales,-58.385022,-34.601313,Tribunales,0 days 00:25:08.000000000,2017-01-01 01:10:21,84.0,Lavalle,-58.395472,-34.602290,Ayacucho 595 entre Tucumán y Lavalle

In [60]:
df_2018.head(3)

,periodo,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,2018,2018-01-01 00:08:05,45.0,Uruguay,-58.386913,-34.601616,Tucumán y Uruguay,0 days 00:19:53.000000000,2018-01-01 00:27:58,183.0,Virrey Cevallos,-58.389692,-34.615638,México 1652 entre Virrey Cevallos y Solís
1,2018,2018-01-01 00:18:05,189.0,Posadas,-58.385586,-34.588475,Posadas 1350 entre Montevideo y Rodríguez Peña,0 days 00:26:19.000000000,2018-01-01 00:44:24,110.0,Guardia Vieja,-58.415459,-34.601761,Guardia Vieja 3606 entre Billinghurst y Mario ...
2,2018,2018-01-01 00:20:14,50.0,Hospital Rivadavia,-58.401148,-34.583677,Lucena Pereyra 2516 entre Las Heras y Pagano,0 days 00:27:39.000000000,2018-01-01 00:47:53,31.0,Padilla,-58.439709,-34.603162,Padilla y Warnes Av

In [61]:
df_total = pd.concat([df_2013, df_2014,df_2015,df_2016,df_2017,df_2018,])

In [62]:
df_total.dtypes

periodo                         int64
id_usuario                    float64
fecha_origen_recorrido         object
id_estacion_origen            float64
nombre_estacion_origen         object
long_estacion_origen          float64
lat_estacion_origen           float64
domicilio_estacion_origen      object
duracion_recorrido             object
fecha_destino_recorrido        object
id_estacion_destino           float64
nombre_estacion_destino        object
long_estacion_destino         float64
lat_estacion_destino          float64
domicilio_estacion_destino     object
dtype: object

### Dropeamos el id_usuario por la cantidad de nulos y reorganizamos el CSV total

In [63]:
df_total.columns

Index(['periodo', 'id_usuario', 'fecha_origen_recorrido', 'id_estacion_origen',
       'nombre_estacion_origen', 'long_estacion_origen', 'lat_estacion_origen',
       'domicilio_estacion_origen', 'duracion_recorrido',
       'fecha_destino_recorrido', 'id_estacion_destino',
       'nombre_estacion_destino', 'long_estacion_destino',
       'lat_estacion_destino', 'domicilio_estacion_destino'],
      dtype='object')

In [64]:
df_total = df_total[['periodo', 'fecha_origen_recorrido', 'id_estacion_origen',
       'nombre_estacion_origen', 'long_estacion_origen', 'lat_estacion_origen',
       'domicilio_estacion_origen', 'duracion_recorrido',
       'fecha_destino_recorrido', 'id_estacion_destino',
       'nombre_estacion_destino', 'long_estacion_destino',
       'lat_estacion_destino', 'domicilio_estacion_destino']]

### Vemos la cantidad de nulos

In [65]:
def missing_values_table(df_total):
        mis_val = df_total.isnull().sum()
        mis_val_percent = 100 * df_total.isnull().sum() / len(df_total)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df_total.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

In [66]:
missing_values_table(df_total)

Your selected dataframe has 14 columns.
There are 12 columns that have missing values.

                            Missing Values  % of Total Values
fecha_destino_recorrido             682184                9.9
long_estacion_destino               206083                3.0
lat_estacion_destino                206083                3.0
domicilio_estacion_destino          206083                3.0
id_estacion_destino                 202621                2.9
long_estacion_origen                195031                2.8
lat_estacion_origen                 195031                2.8
domicilio_estacion_origen           195031                2.8
id_estacion_origen                  191863                2.8
nombre_estacion_destino             167377                2.4
nombre_estacion_origen              157497                2.3
duracion_recorrido                   43723                0.6

### Dropeamos los nulos

In [67]:
df_total = df_total.dropna()
missing_values_table(df_total)

Your selected dataframe has 14 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

### Últimos retoques al df_total

In [68]:
df_total

,periodo,fecha_origen_recorrido,id_estacion_origen,nombre_estacion_origen,long_estacion_origen,lat_estacion_origen,domicilio_estacion_origen,duracion_recorrido,fecha_destino_recorrido,id_estacion_destino,nombre_estacion_destino,long_estacion_destino,lat_estacion_destino,domicilio_estacion_destino
0,2013,2013-01-02 07:49:52.937,13.0,Once,-58.406599,-34.609622,Plaza Miserere,0 days 00:21:43.733000000,2013-01-02 08:11:36.670,21.0,Parque Patricios,-58.406613,-34.640029,Iguazú y Uspallata
1,2013,2013-01-02 07:52:11.530,13.0,Once,-58.406599,-34.609622,Plaza Miserere,0 days 00:30:49.593000000,2013-01-02 08:23:01.123,4.0,Plaza Roma,-58.368950,-34.601721,Lavalle y Bouchard
2,2013,2013-01-02 07:53:56.140,17.0,Plaza Almagro,-58.418832,-34.606399,Plaza Almagro,0 days 00:31:08.157000000,2013-01-02 08:25:04.297,12.0,Plaza Vicente López,-58.388949,-34.593177,Plaza Vicente López
3,2013,2013-01-02 07:54:55.187,14.0,Pacífico,-58.426320,-34.577787,Pacífico,0 days 00:59:34.106000000,2013-01-02 08:54:29.293,3.0,Aduana,-58.368918,-34.611242,Av. Ing.Huergo y Av. Belgrano
4,2013,2013-01-02 07:55:22.483,17.0,Plaza Almagro,-58.418832,-34.606399,Plaza Almagro,0 days 00:18:21.094000000,2013-01-02 08:13:43.577,7.0,Obelisco,-58.380990,-34.605840,Av. 9 de Julio y Tte. Gral Juan Domingo Perón
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2619963,2018,2018-12-30 19:46:32,75.0,Plaza Primero de Mayo,-58.398905,-34.612124,Pichincha entre Adolfo Alsina y Moreno,0 days 00:07:15.000000000,2018-12-30 19:53:47,118.0,México,-58.402827,-34.616813,Saavedra y México
2619964,2018,2018-12-30 19:48:14,139.0,Virrey Liniers,-58.413150,-34.633309,Salcedo 3401 y Virrey Liniers,0 days 00:09:59.000000000,2018-12-30 19:58:13,199.0,Estados Unidos y Boedo,-58.415882,-34.622439,Estados Unidos 3568 entre Boedo y Maza
2619965,2018,2018-12-30 19:48:51,30.0,Peña,-58.397378,-34.590394,Azcuénaga y Peña,0 days 00:10:32.000000000,2018-12-30 19:59:23,76.0,Ayacucho,-58.394927,-34.607573,Ayacucho entre Perón Juan y Bartolomé Mitre
2619966,2018,2018-12-30 19:51:42,52.0,Sánchez de Bustamante,-58.414668,-34.607089,Sánchez de Bustamante y Perón Juan,0 days 00:09:57.000000000,2018-12-30 20:01:39,52.0,Sánchez de Bustamante,-58.414668,-34.607089,Sánchez de Bustamante y Perón Juan
2619967,2018,2018-12-30 19:52:41,6.0,Parque Lezama,-58.369709,-34.628301,Av Martín García e Irala,0 days 00:10:26.000000000,2018-12-30 20:03:07,137.0,Azopardo y Chile,-58.367470,-34.615926,Azopardo 700 y Chile

In [69]:
df_total[["id_estacion_origen","id_estacion_destino"]]   = df_total[["id_estacion_origen","id_estacion_destino"]].astype(int)

#### Trabajamos las fechas

In [70]:
df_total["fecha_origen_recorrido"] = pd.to_datetime(df_total['fecha_origen_recorrido'])

df_total["fecha_destino_recorrido"] = pd.to_datetime(df_total['fecha_destino_recorrido'])

In [71]:
# Create the day of week Category by iterrating over 7 days (March 4th, 2019 is a Monday)
days = [(dt.datetime(2019, 3, 4) + dt.timedelta(days=x)).strftime('%a') for x in range(0, 7)]
day_type = CategoricalDtype(categories=days, ordered=True)

# Create the month Category by iterrating over the months
months = [dt.datetime(2019, x, 1).strftime('%B') for x in range(1, 13)]
month_type = CategoricalDtype(categories=months, ordered=True)

In [72]:
# Clean up column names for ease of use
#df.columns = [' '.join(x.replace('trip_', '').replace('_seconds', '').split('_')).title() for x in df.columns]

# df_total["fecha_origen_recorrido"] = pd.to_datetime(df_total["fecha_origen_recorrido"])

df_total['Date'] = df_total['fecha_origen_recorrido'].apply(lambda x: x.strftime('%Y-%m-%d'))
df_total['Quarter'] = df_total['fecha_origen_recorrido'].apply(lambda x: int((int(x.strftime('%m')) - 1) / 3) + 1)
df_total['Month'] = df_total['fecha_origen_recorrido'].apply(lambda x: x.strftime('%B')).astype(month_type)
df_total['Day of Week'] = df_total['fecha_origen_recorrido'].apply(lambda x: x.strftime('%a')).astype(day_type)
df_total['Hour'] = df_total['fecha_origen_recorrido'].apply(lambda x: x.strftime('%H'))

# Create a "Route ID" in the "[start station ID]-[end station ID]" format
df_total['Route Id'] = df_total.apply(lambda x: '{0}-{1}'.format(int(x['id_estacion_origen']), int(x["id_estacion_destino"])), axis=1)

In [80]:
df_total.columns

Index(['periodo', 'fecha_origen_recorrido', 'id_estacion_origen',
       'nombre_estacion_origen', 'long_estacion_origen', 'lat_estacion_origen',
       'domicilio_estacion_origen', 'duracion_recorrido',
       'fecha_destino_recorrido', 'id_estacion_destino',
       'nombre_estacion_destino', 'long_estacion_destino',
       'lat_estacion_destino', 'domicilio_estacion_destino', 'Date', 'Quarter',
       'Month', 'Day of Week', 'Hour', 'Route Id', 'duracion_recorridos_m'],
      dtype='object')

In [74]:
#df_total["dia"] = df_total["fecha_origen_recorrido"].dt.day
#df_total["mes"] = df_total["fecha_origen_recorrido"].dt.month
#df_total["horario"] = df_total["fecha_origen_recorrido"].dt.hour
df_total["duracion_recorridos_m"] = df_total.duracion_recorrido.str.extract("^\d days 00:(\d+):.*")

### Exportamos a un CSV

In [75]:
df_total.to_csv("df_total.csv")

In [79]:
df_reducido = df_total.sample(n=10000)
df_reducido.to_csv("df_reducido.csv")